@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,500;1,300&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;	
    box-sizing: border-box;
    font-family: Ubuntu;    
}

html,body{
    
     background-image: url('https://cdn.pixabay.com/photo/2017/01/13/08/08/tori-1976609_1280.jpg');
     background-size: cover; /*ajusta la imagen al tamaño de la pantalla */
     background-repeat: no-repeat;
     height: 100%;    
}


header.container {
    height: 75px; 
    background-color: #ffffff;
}

.flex-container{
    display: flex;    
    justify-content: space-between;    
    height: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
              
}

.item{   
    width: 200px;
    height: 100%;        
}

 img {
    height: 100%;
    width: 100%;
} 

#argpro{
    width: 100px;
    height: 100%;
    
    
}

#title{
    display: flex;
    font-size: 30px;
    align-items: center;    
}


/*MAIN*/
main{
    margin: 30px 50px;    
}



.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
      
}

form{
    display: flex;
    flex-direction: column;
    border: 3px solid grey;
    background-color: rgba(211, 209, 202,0.5);
  
}

.enviar{      
        display: inline-block;
        background-color: #2a7ea6;
        color: white;
        text-decoration: none;
        border-radius: 30px;
        font-size: 1.5rem;
        margin: 30px;
        height: 50px;
        width: 200px;
}









